.rectangle {
  width: 600px;
  height: 88px;
  left: 213px;
  top: 571px;
  margin: 1%;
  margin-top: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  svg {
    z-index: 1;
    align-self: center;
    margin: 14px;
  }
}

.rectangle-decorator {
  width: 45px;
  height: 88px;
  left: 818px;
  top: 571px;
  position: sticky;
  background: #1c1080;
}

.date {
  width: 140px;
  height: 43px;
  left: 213px;
  top: 549px;
  margin-left: 1%;
  margin-top: 15px;
  font-family: Titillium Web;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
  color: #6a6a6a;
}

.description {
  width: 500px;
  height: 43px;
  left: 225px;
  top: 579px;
  margin: 2%;
  font-family: Titillium Web;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #1c1080;
}
